*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,rgba(178, 144, 174, 0.981),rgba(145, 135, 135, 0.8)
);
}
.container {
    display: flex;
    justify-content: center ;
    align-items: center;
    width:100%;
    height: 100vh;
    padding: 0 20px;
}
.to_do{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color:white;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    border: 3px solid rgba(255,255,255,0);
    backdrop-filter: blur(10px);
}
.to_do h1 {
    font-size: 2rem;
}
.input-area{
    display: flex;
    justify-content: center ;
    align-items: center;
    width:100%;
}
.input-area input {
    flex:1;
    padding:10px 17px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(242, 231, 242);
    color:rgba(178, 144, 174, 0.981);
}

.input-area button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.1rem;
    border: 2px solid rgba(255,255,255,0.18);
    cursor:pointer;
    transition: all 0.2s ease;
}
.input-area button:hover{
    transform: scale(1.1);
}
#task-list {
    width: 100%;
}
#task-list li {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(170, 157, 157, 0.8);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: box-shadow 0.2s ease;
}
#task-list li.checkbox:checked {
    transform : scale(1.1);
    background: rgba(187, 119, 165, 0.8);
}
#task-list li.checkbox.checked::before{
    content: '\2713';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1rem;
}
#task-list li span {
    flex:1;
    margin-left: 10px;
    word-wrap: break-word;
}
.task-buttons {
    display: flex;
    gap: 5px;
    margin-right: auto;
}
.task-buttons button {
    background: rgba(155, 136, 152, 0.8);
    border: none;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    transition :all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}